
.pane{
    -fx-background-color: #33ccff;
}

.hbox{
    -fx-background-color: #cccccc;
}

#pnPlayer,#pnOpponent{
    -fx-background-color: #ffff66ff;
}



#pnCard{
    -fx-background-color: #cccccc;
}

#vBoxPlayers{
    -fx-border-color: black;
    -fx-background-color:#3786db;
    -fx-border-radius: 15px;
}